body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 600px;
    width: 100%;

}

h1 {
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
    font-weight: 300;
    color: #333;
}

text {

    font-size: 13px;;
}

.subtitle {
    text-align: center;
    font-size: 14px;
    color: #667;
    margin-bottom: 10px;
}

.subtitle a {
    color: #0066cc;
    text-decoration: none;
}

#banner-container {
    padding: 2px;
    background-color: rgba(255, 255, 255, 0);
    display: flex; 
    justify-content: center; /* Ceci centrera #banner horizontalement */
    align-items: center; /* Ceci centrera #banner verticalement */
    width: 100%;
    box-sizing: border-box;
}

#banner {
    width: 450px;
    max-width : 450px;
    height: 110px;
    background: linear-gradient(to bottom, #ff992c, #e37023); /* Default Monero colors */
    /* background: linear-gradient(to bottom, #ff9d35, #e5772e);  Fade */
    /* background: linear-gradient(to bottom, #ff7f00, #df5900);  Strong  */ 
    border-radius: 30px 100px 100px 30px;
    display: flex;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative;
    margin: 15px auto 0;
    margin-bottom: 1px;
    box-sizing: border-box;
    transition: background 0.3s ease;
}

#banner.bitcoin {
    background: linear-gradient(to bottom, #eaad20, #f7a036);
    /* ackground: linear-gradient(to bottom, #f2a900, #f7931a);  */
}

#banner.june {
    background : linear-gradient(to bottom, #A02B93, #8B74BC, #74C4E9, #74C4E4, #74C4E2, #FFDB67, #E17F09);
}

#qrcode {
    width: 96px;
    height: 96px;
    background-color: white;
    margin-left: 7px;
    margin-top: 7px;
    padding-right: 2px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-shrink: 0;
}

#qrPlaceholder {
	margin-left: 6%;
	font-size : 18px;
}

/* Style pour l'icône de cœur */
#heartIcon {
    position: absolute;
    top: -5px;
    left: 90px;
    width: 35px;
    height: 35px;
    background-image: url('../img/heart-icon.png');
    background-size: contain;
    background-repeat: no-repeat;
}

#infoButton {
    position: absolute;
    bottom: 10px;
    right: 38px;
    width: 12px;
    height: 12px;
    opacity: 0.4;
    transition: opacity 0.2s ease;
    z-index: 10;
}

#infoButton:hover {
    opacity: 0.8;
}

#infoButton svg {
    fill: white;
}

#input_1{
    width : 16px;
    margin-right: 5px;
}
#input_2{
    width : 16px;
    margin-right: 5px !important;
    margin-left: 15px !important;
}


#mobile-text {
    display: none;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 79px;
    height: 79px;
    background-color: rgba(113, 180, 87, 0.97);   /* rgba(97, 182, 41, 0.97);  */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 12px;
    padding: 6px;
    box-sizing: border-box;
    margin:8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
#mobile-text.hidden {
    display: none !important;
}

/* Mobile screen */

/*  Only for web integration 

@media (max-width: 768px) {  
    #mobile-text:not(.hidden) {
        display: flex;
    }
}  
*/

@media (min-width: 100px) {  /* Desktop screen : 769 px for web integration ! */ 
    #mobile-text {
        display: none !important;
    }
}




#mobile-text:hover {
    background-color: rgba(104, 189, 43, 0.95);
}

#mobile-text:active {
    background-color: rgba(206, 210, 107, 0.9);
}

/* Checkmark when copied */
/*.checkmark {
    display: none;
    color: white;
    font-size: 30px;
    margin-left: 30px;
}*/

#widgetText {
    flex: 1;
    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    max-width: calc(90% - 96px - 14px - 55px); 
	position:absolute;
	top : -7px;
	left : 24%;
}

#banner h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    color: white;
}

#todoText {
    font-size: 13px;
    margin: 1px 0;
    text-align: center;
    color: white;
    text-wrap: wrap;
}

#shortAddress {
    /* width: 100%; */
    width : 235px;
	height : 25px;
    padding: 0px;
    font-size: 13px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 4px;
	margin-bottom: 4px;
    box-sizing: border-box; /* Add this line */
}

#purchaseCrypto {
    font-size: 10px;
    margin: 1px 0 0;
    text-align: center;
    color: #f3e4de;
    position:absolute;
	bottom : 3px;
	left : 34%;
}

#cryptoLogo {
    width: 45px;
    height: 45px;
    background-color: #ff66003d;
    border-radius: 50%;
    padding: 3px;
    border: 3px solid white;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}


.crypto-selector {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.crypto-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.crypto-button {
    background: none;
    border: none;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.3s ease;
    padding: 4px;
}

.crypto-button.active {
    opacity: 1;
}

.crypto-button img {
    width: 40px;
    height: 40px;
}

.crypto-name {
    font-size: 12px;
    color: #666;
    margin-top: -5px;
}


.address-insertion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
	margin-bottom : 3px;
}

#addressInsertionMessage {
    font-size: 0.9em;
	color : #666666;
	font-weight : 550;
    margin-right: 5px;
}

#exampleAddress, #exampleAddress2 {
    font-size: 0.8em;
    color: #1f9322;
    /* text-decoration: underline; */
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #338a26;
    font-weight: 600;
    cursor: pointer;
    text-align: center; /* Centre le texte horizontalement */
    display: inline-flex; /* Utilise flexbox pour un meilleur contrôle */
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */

    margin-right: 10px;
    max-width: fit-content;
    min-width: 26%;
    width: min-content; /* Réduit la largeur au minimum nécessaire */
    white-space: normal; /* Permet le retour à la ligne */
    word-break: break-word; /* Permet de casser les mots longs si nécessaire */
}

.address-validation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

#addressValidationMessage {
    font-size: 0.9em;
}

#tutorialLink {
    font-size: 0.9em;
    color: #0066cc;
    text-decoration: none;
}

input, button, select {
    display: block;
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ff8533;
}

button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.design-selector {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 30%;
    margin-right: 30%;
}
.design-selector label {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.design-selector label img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
.design-selector input[type="radio"] {
    margin-left: 6px;
    margin-right: 6px;
}

.purpose-selector {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 28%;
    margin-right: 28%;
    align-content: center;
}
.purpose-selector label {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    cursor: pointer;
}
.purpose-selector input[type="radio"] {
    margin-left: 6px;
    margin-right: 6px;
}

/* Contact inputs */

.input-group1 {
    display:block;
    align-items: center;
    gap: 10px;
}

.input-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

#contact-name {
    width: 45%;
}
#contact-url {
    padding:3px;
    width: 45%;
    background-color: #ebeaea;
}
#contact-email {
    flex: 1;
    padding:3px;
    width: 45%;
    background-color: #ebeaea;
    max-width: 40%;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1000;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
}

#saveButton {
    margin-top: 10px;
    min-width: 180px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#saveButton:hover {
    background-color: #79cb7d;
}

#copyImageButton {
    margin-left: 0px;
}
#printBannerButton {
    margin-left: 0px;
    cursor: pointer;
}


#shareButton {
    background-color: #4CAF50; /* Vert */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

#shareButton:hover {
    background-color: #45a049;
}



.banner-buttons {
    display: flex;
    align-items: center;
    /* gap: 10px;  */
    margin-top: 20px;
	margin-left:26%;
	margin-right:12%; 
}

.banner-buttons button {
    flex: 1;
}

#copyFeedback {
    flex-shrink: 0;
}

.feedback-message {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    margin-left: 10px;
    color: green;
}

.feedback-message.show {
    opacity: 1;
}

.integration-code {
    margin-top: 20px;
}

.integration-code textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    font-family: monospace;
}

#integrationFields {
    margin-top: 20px;
}

#integrationFields h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

#integrationFields textarea {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding: 5px;
    font-family: monospace;
    font-size: 12px;
}

#openHtml {
    margin-top: 10px;
    min-width: 180px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#openHtml:hover {
    background-color: #77c07b;
}


/* Mobile screen compact version */

/* Media query for mobile devices */

@media (max-width: 480px) { 

    #addressInsertionMessage {
        font-size: 13px;
    }

}



/* @media (max-width: 480px) { 
Eventually for all devices the compact version
*/
@media (max-width: 3000px) {
    
    #tutorialLink {
        font-size :12px;
    }
    
    #banner {
        width: 330px; /* 75% of 450px */
        height: 120px; /* 75% of 110px */
        border-radius: 22.5px 75px 75px 22.5px; /* 75% of original values */

    }

    #qrcode {
        width: 100px; /* 75% of 96px */
        height: 100px; /* 75% of 96px */
        margin-left: 10px; /* 75% of 7px */
        margin-top: 10px; /* 75% of 7px */
        border-radius: 9px; /* 75% of 9px */
    }

    #qrPlaceholder {
        font-size: 15px; /* 75% of 12px */
    }

    #widgetText {
        max-width: calc(90% - 100px - 10.5px - 41.25px); /* Adjusted for new sizes */
        top: -5.25px; /* 75% of -7px */
        left: 32%;
        margin-right: 5px;
        padding-left: 16px;
    }

    #widgetTitle {
        font-size: 15px !important; 
        text-align: left !important;
        width: 115%;
        margin-bottom: 3px !important;
        margin-top: 1px !important;
        padding-left : 2px;
        
    }


    #todoText, #todoTextDetails {
        margin: 0;
        padding: 0;
        font-size: 11.5px !important; /* 75% of 13px */
        max-width: 130px;
    }
    #todoTextDetails {
        text-align: center;
        display: block;
        margin-top: 2px;
        margin-bottom : 5px;
        min-height: 12px; /* Réserve toujours de l'espace, même vide */
        color: white; /* Texte en blanc */
    }
    .todoText2 {
        font-weight: bold;
    }



    #shortAddress {
        height: 20px; /* 75% of 25px */
        font-size: 11px; /* 75% of 13px */
        margin-top: auto; /* 75% of 4px */
        padding-bottom: 2px;
        margin-bottom: 2px; /* 75% of 4px */
        width: 90%;
    }

    #purchaseCrypto {
        font-size: 11px; /* 75% of 10px */
        width: 160px;
        position:absolute;
        bottom : 5px;
        left : 36%;
    }

    #cryptoLogo {
        width: 45px; /* 34px  75% of 45px */
        height: 45px; /* 34px  75% of 45px */
        right: 10px; /* 75% of 20px */
    }

    /* Adjust mobile text for smaller banner */
    #mobile-text {
        top: 13px;
        left: 13px;
        width: 79px; /* 75% of 79px */
        height: 79px; /* 75% of 79px */
        font-size: 11px; /* 75% of 12px */
        padding: 6px; /* 75% of 6px */
        margin: 8px; /* 75% of 8px */
        border-radius: 6px; /* 75% of 5px */
    }

}
